.topborder{

}

.introjumbotron{

}


.footertheme{

}

body{
	background-color:rgb(0,0,0);
}


.verticallist{

}

.horizontalnav ul li{
	display:inline-block; 
}

.container:nth-child(even){
	float:left;
	background-color:rgb(0,0,0);
}

.container:nth-child(odd){
	float:right;
		background-color:rgb(0,0,0);

}

.horizontalnav ul li a:hover{
background-color:rgb(40,40,40);  
}



.bodymain{

  width: 68%;
  height: 98%;
  float: left;
  background: url(http://s9.postimg.org/ft91z9c6z/bg_content.png) repeat left top;
  margin: 1%;
  
}

.bodysidebar{

  width: 28%;
  height: 68%;
  float: left;
  background-color: rgb(235,235,235);
  margin: 1%;
}
