P {

    font-size:1.25em;
    color: rgb(10,10,10);
    font-family: serif;
    font-style: italic;
    text-align: justify;
    text-indent: 5em;
    margin-bottom: 3em;

}

.midandsmall{

	font-style: normal;
	font-family: sans-serif
	font-size: 2em;
	text-align: center;
	margin: 2px;

}



[href*="image"]{

	font-style:oblique justify;
	color: black;
	font-family: sans-serif;
	font-size: 1em;
	float:left;
	
	

}

body{

   background: url("ricepaper.png");

}


img[style]{

     border: 2em !important; 
     height: auto !important;
     width: auto !important;
     max-height: 5em !important;
     max-width: 5em !important;
     margin-bottom: 3px !important;


}

img{

     border: 2em !important; 
     height: auto !important;
     width: auto !important;
     max-height: 15em !important;
     max-width: 15em !important;
     margin-bottom: 3px !important;

}

pre{
	font-size: 1em;
	font-family: sans-serif;
	text-align: center;
	border: 4px solid black;
	
	

}
h1 {
	font-family: serif;
	font-size: 4em;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	font-style: italic;
	text-shadow: 5px 5px 5px #A52A2A

}

h2{

	font-family: serif;
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	text-shadow: 5px 5px 5px #A52A2A


}

h3{

	font-family: sans-serif;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	
}

a{

	color:black;
}



[href*="CHAPTER"]{

	color:black !important;
	

}

[href*="CHAPTER"]:hover{
	color: blue !important;

}

a:hover{
	color: blue;

}





