.topborder{

}

* {
margin: 0;
padding: 0;
}

.introjumbotron{

}

h2{
margin-bottom: 1em;
}


.footertheme{

}

body{
	background-color:rgb(250,250,250);
	padding: 0;
	margin: 0;
}


.verticallist{

}

.rainbowheader{
    font-size: 55px;
    background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
    background	: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, yellow, yellow, yellow, yellow, yellow, yellow, orange); /* Standard syntax (must be last) */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0px;
}

.rainbowheader2{
    font-size: 55px;
    background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, orange, red, red, red, blue); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.radialgradient{
    height: 20em;
    width: 100%;
    margin: 0;
    background: -webkit-radial-gradient(red, green, blue); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(red, green, blue); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(red, green, blue); /* For Firefox 3.6 to 15 */
    background: radial-gradient(white, blue, blue); /* Standard syntax (must be last) */

}

.pinkbubble{
  background-color: rgb(245,20,215);
  height: 5em;
  width 5em;
  margin: 2em;
}
.horizontalnav ul li{
	display:inline-block;
	margin: 2px;
	/*background-color: rgb(235,199,60);*/

    background: -webkit-linear-gradient(yellow, orange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(yellow, orange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(yellow, orange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(yellow, orange); /* Standard syntax (must be last) */
	padding: 1em;
}

bodymain .container:nth-child(even){
	float:left;
}

.contentleft{
	float:left;
	margin-top: 1em;

}

.contentright{
	float:right
	margin: 1em;
}

bodymain .container:nth-child(odd){
	float:right;

}

.horizontalnav ul li a:hover{
background-color:rgb(40,40,40);  
}



.bodymain{
	position: absolute;
	width: 70%;
  	height: 100%;
  	float: left;
  	background-color:rgb(255,255,255);
  
}

.bodysidebar{
	position:absolute;
	right: 0;
	text-align: center;
	width: 30%;
  	height: 100%;
  	float: right;
	background-color: rgb(235,199,60);  
}
